html.dark #index h1[data-v-2f80ef44]{color:#e2e8f0}html.dark #index p[data-v-2f80ef44]{color:#cbd5e1}html.dark #index a[data-v-2f80ef44]{color:#38bdf8}html.dark #index a[data-v-2f80ef44]:hover{color:#7dd3fc}
